@using Desertnik.Components.Pages
@inherits LayoutComponentBase

<Toast />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <NotAuthorized>
                    <a href="/login">Prijava</a>
                    <a href="/register">Registracija</a>
                </NotAuthorized>
                <Authorized>
                    <a href="/logout">Odjava</a>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Dogodila se neočekivana greška.
    <a href="" class="reload">Pokušaj ponovno</a>
    <a class="dismiss">🗙</a>
</div>